{% extends "base.html" %}
{% block content %}
<div class="jumbotron">

</div>

<h1> Section A</h1>
<form method="POST">
    {{form.hidden_tag()}}

    {{form.first.label}}{{form.first}}
    <br>
    {{form.last.label}}{{form.last}}
    <br>
    {{form.lang.label}}{{form.lang}}
      <br>
    {{form.phone.label}}{{form.phone}}
      <br>
    {{form.conpref.label}}{{form.conpref}}
    <br>
    What is your email?
    <br>
    {{form.email.label}}{{form.email}}
      <br>
    What questions do you have?
    <br>
    {{form.conchoice.label}}{{form.conchoice}}
    <br>
    {{form.submit()}}
</form>

{% endblock content %}

--------------------------------
###### Make sure to include these questions....
class SectionA(FlaskForm):
    childName = StringField('Full Name: ', validators=[DataRequired()])
    childDOB = StringField("Date of Birth: ", validators=[DataRequired()])
    childAddress = StringField('Address:', validators=[DataRequired()])
    childCity = StringField('City:', validators=[DataRequired()])
    childState = StringField('State:', validators=[DataRequired()])
    childZip = StringField('ZIP Code:', validators=[DataRequired()])
    phone = StringField('phone', validators=[DataRequired()])
    ethnicity = RadioField('Ethnicity:',
                         choices=[('Asian', 'Asian'), ('Native Hawaiian or Other Pacific Islander', 'Native Hawaiian or Other Pacific Islander') , ('White', 'White'), ('Black or African American', 'Black or African American'), ('American Indian / Alaskan Native'), ('American Indian / Alaskan Native')])
    tribe = StringField('Tribe (if applicable)')
    childMailAddress = StringField('Address:', validators=[DataRequired()])
    childMailCity = StringField('City:', validators=[DataRequired()])
    childMailState = StringField('State:', validators=[DataRequired()])
    childMailZip = StringField('ZIP Code:', validators=[DataRequired()])
    conpref = RadioField('Contact Preference:',
                         choices=[('phone', 'Phone'), ('email', 'Email'), ('both', 'both')])
    email = TextAreaField('')
    conchoice = TextAreaField('')
    vote = RadioField('Do you want to register to vote?:',
                         choices=[('Yes', 'Yes'), ('No', 'No')])
    submit = SubmitField('Submit')
