{% extends "base.html" %}
{% block content %}
<div class="jumbotron">

</div>

<div class="SectionA">
<h1> Section A</h1>
<form method="POST">
    {{form.hidden_tag()}}
    {{form.childName.label}}{{form.childName}}
    <br>
    {{form.childDOB.label}}{{form.childDOB}}
    <br>
    {{form.childSex.label}}{{form.childSex}}
    <br>
    {form.AHCCCS.label}}{{form.AHCCCS}}
    <br>
    {{form.language.label}}{{form.language}}
      <br>
     {{form.childAddress.label}}{{form.childAddress}}
      <br>
    {{form.childCity.label}}{{form.childCity}}
      <br>
    {{form.childState.label}}{{form.childState}}
      <br>
    {{form.childZip.label}}{{form.childZip}}
      <br>
    {{form.phone.label}}{{form.phone}}
      <br>
    {{form.ethnicity.label}}{{form.ethnicity}}
      <br>
    {{form.tribe.label}}{{form.tribe}}
      <br>
     {{form.childMailAddress.label}}{{form.childMailAddress}}
      <br>
    {{form.childMailCity.label}}{{form.childMailCity}}
      <br>
    {{form.childMailState.label}}{{form.childMailState}}
      <br>
    {{form.childMailZip.label}}{{form.childMailZip}}
      <br>
    {{form.conpref.label}}{{form.conpref}}
    <br>
    What is your email?
    <br>
    {{form.email.label}}{{form.email}}
    <br>
    {{form.vote.label}}{{form.vote}}
    <br>
    {{form.submit()}}
</form>
</div>



<!-- can ask if there is another option -->
<div class="SectionC">
  <h1> Section C</h1>
    <form method="POST">
    {{form.hidden_tag()}}
    {{form.coverage.label}}{{form.coverage}}
    <br>
    {{form.healthPlan.label}}{{form.healthPlan}}
    <br>
    {{form.policyName.label}}{{form.policyName}}
    <br>
          <!-- is there a way to have two variables correspond to a certain spot, or do I need to concat -->
    {{form.IDNum.label}}{{form.IDNum}}
    <br>
    {{form.policyNum.label}}{{form.policyNum}}
    <br>
    {{form.policyDate.label}}{{form.policyDate}}
    <br>
    {{form.dob.label}}{{form.dob}}
    <br>
      {{form.submit()}}
    </form>
</div>

<!-- ask if another option -->
<div class="SectionD">
  <h1> Section D</h1>
    <form method="POST">
    {{form.hidden_tag()}}
    {{form.program.label}}{{form.program}}
    <br>
    {{form.profPhone.label}}{{form.profPhone}}
    <br>
    {{form.typeSupport.label}}{{form.typeSupport}}
    <br>
    {{form.eduDate.label}}{{form.eduDate}}
    <br>
      {{form.submit()}}
    </form>
</div>




<!-- ##########################################################-->

{% endblock content %}

