{% extends "base.html" %}
{% block content %}
<div class="jumbotron">

</div>

<div class="SectionHIPAA">
<h1> Section HIPAA</h1>
<form method="POST">
    {{form.hidden_tag()}}
    {{form.childLast.label}}{{form.childLast}}
    <br>
    {{form.childFirst.label}}{{form.childFirst}}
    <br>
    {{form.childMiddle.label}}{{form.childMiddle}}
    <br>
    {{form.describeInfo.label}}{{form.describeInfo}}
    <br>
    {{form.agency.label}}{{form.agency}}
    <br>
    {{form.requestDate.label}}{{form.requestDate}}
    <br>
    {{form.authorizationDate.label}}{{form.authorizationDate}}
    <br>
    {{form.submit()}}
</form>
</div>

{% endblock content %}