{% extends "base.html" %}
{% block content %}
<div class="jumbotron">

</div>

<!-- need to convert to form-->
class SectionHIPAA(FlaskForm):
    #concat name ,last, first middle (cannot get previous since middle isn't specified
    childLast = StringField("Child's first name:", validators=[DataRequired()])
    childFirst = StringField("Child's last name:", validators=[DataRequired()])
    childMiddle = StringField("Child's middle name:", validators=[DataRequired()])
    #DOB request, gather from Section A
    describeInfo = TextAreaField('')
    agency = StringField("Agency requesting information:", validators=[DataRequired()])
    requestDate= StringField("Date of Request:", validators=[DataRequired()])
    #get Parent name
    #need a physical signature....
    authorizationDate = StringField("Date of Authorization:", validators=[DataRequired()])

{% endblock content %}