{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h1> AUTORIZACIÓN PARA LA DIVULGACIÓN DE INFORMACIÓN</h1>
</div>


<div class="SectionRelease d-flex align-items-center justify-content-center">
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.office.label}}{{form.office}}
        <br>
        <h4>Permito que la información de salud protegida marcada a continuación<br> se comparta con el
            profesional médico,la agencia, el entorno educativo <br> u otro indicado anteriormente:</h4>
        <br>
        {{form.InfoTipo1.label}}{{form.InfoTipo1}}
        {{form.InfoTipo2.label}}{{form.InfoTipo2}}
        {{form.InfoTipo3.label}}{{form.InfoTipo3}}
        {{form.InfoTipo4.label}}{{form.InfoTipo4}}
        {{form.InfoTipo5.label}}{{form.InfoTipo5}}
        {{form.InfoTipo6.label}}{{form.InfoTipo6}}
        {{form.InfoTipo7.label}}{{form.InfoTipo7}}
        {{form.InfoTipo8.label}}{{form.InfoTipo8}}
        {{form.InfoTipo9.label}}{{form.InfoTipo9}}
        {{form.InfoTipo10.label}}{{form.InfoTipo10}}
        {{form.InfoTipo11.label}}{{form.InfoTipo11}}
        Especifique:
        <br>

        {{form.other.label}}{{form.other}}
        <br>
        <br>
        {{form.submit()}}
        <br>
        <br>
        <br>
        <br>
        <br>
    </form>
</div>


{% endblock content %}