{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h1> AUTORIZACIÓN PARA LA DIVULGACIÓN DE INFORMACIÓN</h1>
</div>

<div class="SectionRelease d-flex align-items-center justify-content-center">

<form method="POST">
    {{form.hidden_tag()}}
    {{form.office.label}}{{form.office}}
    <br>
    {{form.InfoTipo1.label}}{{form.InfoTipo1}}
    <br>
    {{form.InfoTipo2.label}}{{form.InfoTipo2}}
    <br>
    {{form.InfoTipo3.label}}{{form.InfoTipo3}}
    <br>
    {{form.InfoTipo4.label}}{{form.InfoTipo4}}
    <br>
    {{form.InfoTipo5.label}}{{form.InfoTipo5}}
    <br>
    {{form.InfoTipo6.label}}{{form.InfoTipo6}}
    <br>
    {{form.InfoTipo7.label}}{{form.InfoTipo7}}
    <br>
    {{form.InfoTipo8.label}}{{form.InfoTipo8}}
    <br>
    {{form.InfoTipo9.label}}{{form.InfoTipo9}}
    <br>
    {{form.InfoTipo10.label}}{{form.InfoTipo10}}
    <br>
    {{form.InfoTipo11.label}}{{form.InfoTipo11}}
    <br>
    Especifique:
    <br>
    {{form.other.label}}{{form.other}}
    <br>
    {{form.submit()}}
</form>
</div>

{% endblock content %}