{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1> Información de profesionales:</h1>
</div>

<!-- I need to be able to have a loop for this, I would do this in a js file for web but unsure for flask... -->
<div class="SectionA.1 d-flex align-items-center justify-content-center">

    <form method="POST">
    {{form.hidden_tag()}}
     <p>Profesionales que pueden proveer registros para toda discapacidad calificativa:
      <ul>
      <li>Psicólogo autorizado</li>
      <li>Psicólogo escolar</li>
      <li>Psiquiatra</li>
      <li>Pediatra</li>
      <li>Neurólogo</li>
      <li>Equipo de intervención temprana</li>
    </ul>
       Los profesionales aceptados varían según la discapacidad. Consulte a su especialista en elegibilidad si tiene preguntas.</p>
    <br>
     <h5>Contacto 1:</h5>
    {{form.profName.label}}{{form.profName}}
     <br>
    {{form.profPhone.label}}{{form.profPhone}}
    <br>
    {{form.type.label}}{{form.type}}
    <br>
    {{form.date.label}}{{form.date}}
    <br>
    <br>
     <h4>Los siguientes son opcionales:</h4>
     <br>
     <h5>Contacto 2:</h5>
    {{form.profName2.label}}{{form.profName2}}
     <br>
    {{form.profPhone2.label}}{{form.profPhone2}}
    <br>
    {{form.type2.label}}{{form.type2}}
    <br>
    {{form.date2.label}}{{form.date2}}
    <br>
    <br>
     <h5>Contacto 3:</h5>
    {{form.profName3.label}}{{form.profName3}}
     <br>
    {{form.profPhone3.label}}{{form.profPhone3}}
    <br>
    {{form.type3.label}}{{form.type3}}
    <br>
    {{form.date3.label}}{{form.date3}}
    <br>
    {{form.submit()}}
        <br>
        <br>
        <br>
        <br>
    </form>
</div>
{% endblock content %}