{% extends "base.html" %}
{% block content %}
<div class="jumbotron">

</div>

 <h1>SECCIÓN D. (Intervención temprana e Historial académico, si corresponde)</h1>
<!-- ask if another option -->
<div class="SectionD d-flex align-items-center justify-content-center">

    <form method="POST">
    {{form.hidden_tag()}}
    {{form.program.label}}{{form.program}}
    <br>
    {{form.typeSupport.label}}{{form.typeSupport}}
    <br>
    {{form.eduDate.label}}{{form.eduDate}}
    <br>
      {{form.submit()}}
    </form>
</div>

{% endblock content %}