{% extends "base.html" %}
{% block content %}
<div class="jumbotron">

</div>

<!-- I need to be able to have a loop for this, I would do this in a js file for web but unsure for flask... -->
<div class="SectionA.1">
  <h1> Section A.1</h1>
    <form method="POST">
    {{form.hidden_tag()}}
    {{form.profName.label}}{{form.profName}}
    <br>
    {{form.profPhone.label}}{{form.profPhone}}
    <br>
    {{form.type.label}}{{form.type}}
    <br>
    {{form.date.label}}{{form.date}}
    <br>
      {{form.submit()}}
    </form>
</div>
{% endblock content %}