{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h1> SECCIÓN A. (Información del solicitante)</h1>
</div>

<div class="SectionA d-flex align-items-center justify-content-center">
<!--
{% if session['viva'] %}
  <p>{{ session['viva'] }}</p>
{% else %}
  <p>:(</p>
{% endif %}
-->
<form method="POST">
    {{form.hidden_tag()}}
    {{form.childName.label}}{{form.childName}}
    <br>
    {{form.childDOB.label}}{{form.childDOB}}
    <br>
    {{form.childSex.label}}{{form.childSex}}
    <br>
    {{form.AHCCCS.label}}{{form.AHCCCS}}
    <br>
    {{form.language.label}}{{form.language}}
    <br>
    {% if not session['viva'] == "Yes" %}
      <br>
        {{form.childAddress.label}}{{form.childAddress}}
    <br>
        {{form.childCity.label}}{{form.childCity}}
         <br>
        {{form.childState.label}}{{form.childState}}
        <br>
        {{form.childZip.label}}{{form.childZip}}
    {% endif %}
      <br>
    {{form.childPhone.label}}{{form.childPhone}}
      <br>
   {{form.ethnicity.label}}{{form.ethnicity}}
      <br>
    {{form.tribe.label}}{{form.tribe}}
      <br>
    {{form.childMailAddress.label}}{{form.childMailAddress}}
      <br>
    {{form.childMailCity.label}}{{form.childMailCity}}
      <br>
    {{form.childMailState.label}}{{form.childMailState}}
      <br>
    {{form.childMailZip.label}}{{form.childMailZip}}
      <br>
    {{form.childConpref.label}}{{form.childConpref}}
    <br>
    {{form.childEmail.label}}{{form.childEmail}}
    <br>
    {{form.vote.label}}{{form.vote}}
    <br>
    {{form.submit()}}
</form>
</div>

{% endblock content %}

