{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h1> SECCIÓN B. (Padre o Padre sustituto, si corresponde)</h1>
</div>

<div class="SectionB d-flex align-items-center justify-content-center">
    <form method="POST">
    {{form.hidden_tag()}}

    {{form.parentName.label}}{{form.parentName}}
        <br>
    {{form.relationship.label}}{{form.relationship}}
    <br>
    {{form.parentPhone.label}}{{form.parentPhone}}
    <br>
    {{form.parentEmail.label}}{{form.parentEmail}}
    <br>
    {{form.parentAddress.label}}{{form.parentAddress}}
    <br>
    {{form.parentCity.label}}{{form.parentCity}}
    <br>
    {{form.parentState.label}}{{form.parentState}}
    <br>
    {{form.parentZip.label}}{{form.parentZip}}
    <br>
    {{form.vive.label}}{{form.vive}}
    {{form.parentConpref.label}}{{form.parentConpref}}

        <p><b>(El tutor legal es una persona nombrada por un juez.)</b></p>

    {{form.legalName.label}}{{form.legalName}}
        <br>
    {{form.legalRelationship.label}}{{form.legalRelationship}}
    <br>
    {{form.legalPhone.label}}{{form.legalPhone}}
    <br>
    {{form.legalAddress.label}}{{form.legalAddress}}
    <br>
    {{form.legalCity.label}}{{form.legalCity}}
    <br>
    {{form.legalState.label}}{{form.legalState}}
    <br>
    {{form.legalZip.label}}{{form.legalZip}}
    <br>
        {{form.submit()}}
    </form>
</div>

{% endblock content %}