{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h1> SECCIÓN A. (Información del solicitante)</h1>
</div>

<div class="SectionA">

<form method="POST">
    {{form.hidden_tag()}}
    {{form.childName.label}}{{form.childName}}
    <br>
    {{form.childDOB.label}}{{form.childDOB}}
    <br>
    {{form.childSex.label}}{{form.childSex}}
    <br>
    {form.AHCCCS.label}}{{form.AHCCCS}}
    <br>
    {{form.language.label}}{{form.language}}
      <br>
     {{form.childAddress.label}}{{form.childAddress}}
      <br>
    {{form.childCity.label}}{{form.childCity}}
      <br>
    {{form.childState.label}}{{form.childState}}
      <br>
    {{form.childZip.label}}{{form.childZip}}
      <br>
    {{form.phone.label}}{{form.phone}}
      <br>
    {{form.ethnicity.label}}{{form.ethnicity}}
      <br>
    {{form.tribe.label}}{{form.tribe}}
      <br>
     {{form.childMailAddress.label}}{{form.childMailAddress}}
      <br>
    {{form.childMailCity.label}}{{form.childMailCity}}
      <br>
    {{form.childMailState.label}}{{form.childMailState}}
      <br>
    {{form.childMailZip.label}}{{form.childMailZip}}
      <br>
    {{form.conpref.label}}{{form.conpref}}
    <br>
    {{form.email.label}}{{form.email}}
    <br>
    {{form.vote.label}}{{form.vote}}
    <br>
    {{form.submit()}}
</form>
</div>

{% endblock content %}

